<!doctype html>
<html>
<head>
  <title>self check</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

</head>
<body>
  <h1>Self Checks</h1>
  
  <h3>{{self_check.name}}</h3>
  <a href="/archive-self-check/{{self_check.id}}">Archive</a>
  <a href="/take-self-check/{{self_check.id}}">Take self check</a>

  <ul>
    {% for question in questions %}
      <li>{{question.body}}
    {% endfor %}

    {% for session in sessions %}
      <li>{{session.answers}}
    {% endfor %}
  </ul>
</body>
</html>
