<!doctype html>
<html>
<head>
  <title>self check</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/static/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

</head>
<body>
  <h1>{{ self_check.name }}</h1>

  <form action="/submit-self-check/{{self_check.id}}" method="POST">
    {% for question in questions %}
    <label>{{ question.body }}
      <input type="text" name="{{question.id}}">
    </label>
    {% endfor %}
    <input type="submit" value="Finish">
  </form>
</body>
</html>
